/* Global styles */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

// Scrollbar
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

// Colour scheme
$colour-brand: #27b7c1;
$colour-text: #4a4a4a;
$colour-white: white;
$colour-lightgrey: #b3b3b3;
$colour-darkgrey: darkslategrey;
$colour-black: black;

// Follows the 'Perfect Fourth' text scale
$font-size-xxxl: 4.209rem; /* ~67px */
$font-size-xxl: 3.157rem; /* ~50px */
$font-size-xl: 2.369rem; /* ~38px */
$font-size-lg: 1.777rem; /* ~28px */
$font-size-md: 1.333rem; /* ~21px */
$font-size-st: 1rem;
$font-size-sm: 0.75rem; /* ~12px */

%header-style {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-xxxl;
  letter-spacing: 1.1px;
  text-shadow: 3px 3px $colour-darkgrey;
  color: $colour-white;
}
%subheader-style {
  // This applies to h2 elements
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-md;
  font-weight: 300;
  letter-spacing: 3.4px;
  color: $colour-text;
}
%alt-subheader-style {
  // This applies to h3 elements - destination name and venue name
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-lg;
  font-weight: 300;
  letter-spacing: 0.9px;
  color: $colour-brand;
}
%body-style {
  font-family: 'Work Sans', sans-serif;
  font-size: $font-size-st;
  font-weight: 300;
  color: $colour-text;
}

$transition-speed: 0.5s;
$transition-scale: scale(1.05);

$border-radius: 4px;
$alt-border-radius: 8px;

$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-hover: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/* Before clicking submit */
p {
  @extend %body-style;
  line-height: 1.36;
  padding-left: 5px;
  text-align: left;
}

.logo {
  margin-left: 12px;
  padding-top: 12px;
  font-size: 25px;
  color: $colour-brand;
  font-family: 'Montserrat', cursive;
  letter-spacing: 3px;
}

main {
  margin: 0px auto 50px auto;
  text-align: center;
  background-image: url("../img/travel-background5-edit.jpeg");
  background-size: cover;
  text-align: center;
  padding-bottom: 300px;
}

main h1 {
  @extend %header-style;
  padding-top: 150px;
  text-align: center;
  margin: auto;
}

form {
  margin-top: 50px;
  height: 100px;
}
/* 
#city {
  width: 286px;
  height: 46px;
  border-radius: $border-radius;
  border: solid 2.5px #ffffff;
  background-color: inherit;
  opacity: 0.73;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: $colour-white;

  
}
*/
#city {
  @extend %body-style;
  width: 286px;
  height: 46px;
  opacity: 0.9;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  border-radius: $border-radius;
  background-color: white;
  border: 1px solid white;
  padding-left: 10px;
}

#button {
  @extend %body-style;
  height: 46px;
  opacity: 0.9;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  border-radius: $border-radius;
  background-color: white;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

#city:hover {
  opacity: 1;
}

#button:hover {
  cursor: pointer;
  opacity: 1;
}

/* After clicking submit */

.render-container {
  display: none;
}

.container {
  max-width: 900px;
  margin: auto;
}

.weather h2 {
  @extend %subheader-style;
  position: relative;
  padding: 5px;
}

.weather {
  width: 200px;
  height: 300px;
  padding: 20px;
  box-shadow: $shadow;
}

.weathericon {
  width: 150px;
  height: 150px;
}

.venue {
  width: 275px;
  padding: 20px;
  box-shadow: $shadow;
}

.venueimage {
  margin-top: 20px;
}

#venues h2 {
  @extend %subheader-style;
  text-align: center;
  padding-top: 5px;
}

#venues h3 {
  @extend %alt-subheader-style;
  text-align: center;
  padding-top: 5px;
}

#destination h3 {
  @extend %alt-subheader-style;
  text-align: left;
}

.sectiontitle {
  height: 70px;
  width: 300px;
  align-items: center;
}

.sectiontitle h2 {
  @extend %subheader-style;
  text-align: left;
}

#venues {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
}

#weather {
  display: flex;
  justify-content: space-around;
  min-height: 350px;
}

footer {
  background-color: $colour-darkgrey;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
  margin-top: 50px;
}

footer h3 {
  @extend %subheader-style;
  color: $colour-white;
}

footer a {
  @extend %body-style;
  color: $colour-lightgrey;
  list-style-type: none;
}

footer a:hover {
  text-decoration: none;
  color: $colour-lightgrey;
}

.footer-button {
  transition: $transition-speed;
}

.footer-button:hover {
  transform: $transition-scale;
  cursor: pointer;
}

.footer-div-top p {
  @extend %alt-subheader-style;
  color: $colour-white;
  text-align: center;
}

.footer-div-top p:hover {
  cursor: pointer;
}

@media (max-width: 860px) {
  h1 {
    padding-top: 80px;
    font-size: 32px;
  }

  form {
    margin-top: 30px;
    padding-bottom: 10px;
  }

  #venues, #weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .venue, .weather {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  .weather {
    padding: 10px 20px;
    height: 100%;
  }

  .sectiontitle, .sectiontitle h2, #destination {
    margin: auto;
    text-align: center;
  }
}