/* Global styles */
html {
  font-size: 16px;
  scroll-behavior: smooth; }

/* ~67px */
/* ~50px */
/* ~38px */
/* ~28px */
/* ~21px */
/* ~12px */
main h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.209rem;
  letter-spacing: 1.1px;
  text-shadow: 3px 3px darkslategrey;
  color: white; }

.weather h2, #venues h2, .sectiontitle h2, footer h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.333rem;
  font-weight: 300;
  letter-spacing: 3.4px;
  color: #4a4a4a; }

#venues h3, #destination h3, .footer-div-top p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.777rem;
  font-weight: 300;
  letter-spacing: 0.9px;
  color: #27b7c1; }

p, footer a {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #4a4a4a; }

/* Before clicking submit */
p {
  line-height: 1.36;
  padding-left: 5px;
  text-align: left; }

.logo {
  margin-left: 12px;
  padding-top: 12px;
  font-size: 25px;
  color: #27b7c1;
  font-family: 'Montserrat', cursive;
  letter-spacing: 3px; }

main {
  margin: 0px auto 50px auto;
  text-align: center;
  background-image: url("../img/travel-background5-edit.jpeg");
  background-size: cover;
  text-align: center;
  padding-bottom: 300px; }

main h1 {
  padding-top: 150px;
  text-align: center;
  margin: auto; }

form {
  margin-top: 50px;
  height: 100px; }

/* After clicking submit */
.container {
  max-width: 900px;
  margin: auto;
  visibility: hidden; }

.weather h2 {
  position: relative;
  padding: 5px; }

.weather {
  width: 200px;
  height: 300px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.weathericon {
  width: 150px;
  height: 150px; }

.venue {
  width: 275px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.venueimage {
  margin-top: 20px; }

#venues h2 {
  text-align: center;
  padding-top: 5px; }

#venues h3 {
  text-align: center;
  padding-top: 5px; }

#destination h3 {
  text-align: left; }

.sectiontitle {
  height: 70px;
  width: 300px;
  align-items: center; }

.sectiontitle h2 {
  text-align: left; }

#venues {
  display: flex;
  justify-content: space-around;
  min-height: 250px; }

#weather {
  display: flex;
  justify-content: space-around;
  min-height: 350px; }

#city {
  width: 286px;
  height: 46px;
  border-radius: 4px;
  border: solid 2.5px #ffffff;
  background-color: inherit;
  opacity: 0.73;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: white; }

#button {
  width: 140px;
  height: 46px;
  border-radius: 4px;
  background-color: #27b7c1;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: white; }

footer {
  background-color: darkslategrey;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
  margin-top: 50px; }

footer h3 {
  color: white; }

footer a {
  color: #b3b3b3;
  list-style-type: none; }

footer a:hover {
  text-decoration: none;
  color: #b3b3b3; }

.footer-button {
  transition: 0.5s; }

.footer-button:hover {
  transform: scale(1.05);
  cursor: pointer; }

.footer-div-top p {
  color: white;
  text-align: center; }

.footer-div-top p:hover {
  cursor: pointer; }

@media (max-width: 860px) {
  h1 {
    padding-top: 80px;
    font-size: 32px; }
  form {
    margin-top: 30px;
    padding-bottom: 10px; }
  #venues, #weather {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .venue, .weather {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center; }
  .weather {
    padding: 10px 20px;
    height: 100%; }
  .sectiontitle, .sectiontitle h2, #destination {
    margin: auto;
    text-align: center; } }
